@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
    margin: 0;
    overflow-y: auto;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    z-index: 10;
}


.navbar.scrolled {
    backdrop-filter: blur(13px); 
    background-color: #ffffff5f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.203);
}

.navbar.scrolled .nav-links a {
    color: #262626; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 20vw; /* Ajuste o tamanho em relação à largura da tela */
    max-width: 200px; /* Tamanho máximo para telas maiores */
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-family: "Work Sans", system-ui;
    font-weight: 350;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    background-color: #ff6347;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    border-radius: 2px;
}

@media (max-width: 768px) {
    #navbar {
        background-color: #fff;
        z-index: 200;
    } 

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    min-height: 100vh; 
    background-image: url('imagens/back-contato.jpg');
    background-size: cover;
}

.left {
    flex: 1;
    padding: 50px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 5;
}

.left h1 {
    color: #fff;
    font-family: 'Heebo';
    font-size: 65px;
    font-weight: 500;
    line-height: 1;
}

.left p {
    padding-top: 20px;
    color: #fff;
    font-family: 'Heebo';
    font-size: 18px;
    line-height: 1.2;
}

.right {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.form-box form {
    display: flex;
    flex-direction: column;
}



.form-box label {
    color: #2a2a2ab8;
    margin-bottom: 5px;
    font-weight: regular;
}

.form-box input,
.form-box textarea {
    border: none;
    border-bottom: 0.5px solid #0000003a;
    background: transparent;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.form-box textarea {
    resize: none; /* Desativa a capacidade de redimensionar a área de texto */
    height: 80px; /* Ajuste a altura para diminuir o tamanho */
    width: 90%; /* Largura ajustável se necessário */
    padding: 10px;
    font-size: 16px;
}

.form-box video {
    display: flex;
    border-radius: 15px;
    padding-top: 40px;
    align-self: center;
    width: 400px;
    height: auto;
}


.name-fields {
    display: flex;
    gap: 0px;
    padding-right: 30px;
}
  
.field-group {
    flex: 1;
}

.input-field {
    border: none;
    border-bottom: 1px solid #ccc; /* Linha inferior */
    background: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
}  

.form-box {
    padding-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo ao topo */
    padding-top: 80px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    margin-top: 100px; 
    height: calc(100% - 40px); /* Ajuste a altura para levar em conta a margem */
    transform: translateY(0); 
}

/* Estilo dos inputs e textarea */
input[type="text"], input[type="email"], textarea {
    border: none;
    border-bottom: 0.5px solid #00000033; /* Linha inferior */
    background: transparent;
    box-sizing: border-box;
    width: 90%;
    font-size: 16px;
}

textarea {
    resize: none; /* Evita redimensionamento */
    margin-bottom: 20px;
}


/* Flexbox para alinhar labels e inputs lado a lado */
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px; /* Espaçamento entre grupos de inputs */
}

.input-group label {
    flex: 1; /* Flexível para ocupar espaço igual */
    margin-right: 10px; 
}

.input-group input {
    flex: 2;
}


button {
    width: 250px;
    background-color: #428BC1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    margin-left: 10px;
}

/* Estilo para o container do botão */
.btn {
    width: 90%;
    display: flex;
    align-items:flex-start; /* Alinha os itens verticalmente no centro */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    margin-top: 0px; /* Espaço acima do container */
}

.btn label {
    flex: 1; /* Faz com que a label ocupe o espaço disponível */
    font-size: 14px; /* Tamanho da fonte da label */
    margin-right: 20px; /* Espaço entre a label e o botão */
}

.btn button {
    display: flex;
    align-items: center; /* Alinha o texto e a imagem dentro do botão */
    background-color: #428BC1; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    height: 50px;
    border-radius: 5px; /* Bordas arredondadas do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    cursor: pointer; /* Cursor de pointer ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.btn button:hover {
    background-color: #357ab8; /* Cor de fundo ao passar o mouse */
}

.btn button img {
    margin-right: 8px; /* Espaço entre a imagem e o texto */
}


@media (min-width: 200px) and (max-width: 900px) {
    .content {
        flex-direction: column;
    }

    .left, .right {
        padding: 0;
        width: 100%;
    }

    .left h1 {
        padding-top: 20px;
        font-size: 26px;
        font-weight: 400;
        text-align: center;
    }

    .left p {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        font-size: 14px;
        color: #e8e8e8;
        font-weight: 400;
        text-align: center;
        padding-top: 10px;
    }

    .right {
        margin-top: 20px;
    }

    .form-box {
        flex: none;
        border: 1.5px solid; /* Defina a largura da borda */
        border-image: linear-gradient(to right,  #c95603,  #FF6B00, #D4271A, #ff6905, #4FB7DC) 1;
        backdrop-filter: blur(13px); 
        height: 100vh;
        padding-left: 8px;
        background-color: #ffffffad;
        margin-top: 0;
        width: 80%;
        font-size: 14px;
        padding-top: 30px
    }

    .form-box input {
        margin-bottom: 5px;
    }

    .form-box video {
        display: none;
    }

    .form-box label {
        text-align: left;
        font-size: 12px;
    }

    .btn {
        flex-direction: column;
        align-items: center;
    }

    .form-box button {
        width: 200px;
        padding: 0px 10px;
        font-size: 12px;
    }   

    .btn label {
        font-size: 10px;
        text-align: center;
        color: #2b2b2ba3;
        padding-bottom: 10px;
    }

    .btn button img {
        width: 30px;
        margin-left: 0px;
        margin-right: 5px;
    }
}


footer {
    width: 100vw;
    background: #000000;
    color: #fff;
    padding: 40px 0; /* Espaçamento interno */
    border-top-left-: 125px;
    font-size: 13px;
    line-height: 20px;
    position: relative; /* Necessário para o alinhamento adequado */
}

.row {
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas quebrem para a linha seguinte se necessário */
    justify-content: space-between; /* Espaça as colunas igualmente */
}

.col {
    flex: 1 1 250px; /* Faz com que as colunas se ajustem responsivamente */
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}


.footer-tagline {
    padding-top: 20px;
    padding-left: 0px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #f77a48;
    margin-top: 0;
}

.logo {
    padding: 0;
    width: 220px;
}

.iso {
    width: 150px;
    padding-left: 20px;
}

.col h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px; /* Espaço abaixo do título */
    border-bottom: 0.10px solid #fff; /* Linha separadora */
}

.email-id {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
}
p {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
}


ul {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff7700; /* Cor de destaque no hover */
}
