@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da tela */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    z-index: 3;
}


.navbar.scrolled {
    backdrop-filter: blur(13px); 
    background-color: #0000005f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.203);
}

.navbar.scrolled .nav-links a {
    color: #ffffff; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 20vw; /* Ajuste o tamanho em relação à largura da tela */
    max-width: 200px; /* Tamanho máximo para telas maiores */
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-family: "Work Sans", system-ui;
    font-weight: 350;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    background-color: #ff6347;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    border-radius: 2px;
}

@media (max-width: 768px) {
    #navbar {
        background-color: #fff;
        z-index: 200;
    } 

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }
}


.main {
    position: relative;
    padding-bottom: 100px; /* altura do rodapé */
    align-items: center;
}

.capa {
    position: absolute;
    position: relative;
    width: 100vw;
    height: 29vh;
}

.capa img {
    width: 100vw;
    position: absolute;
}

.capa label {
    position: absolute;
    top: 150px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Heebo';
    font-size: 32px;
    padding-left: 60px;
    color: #fffffff1;
}

.conteudo {
    border-top: 3px solid #FF6F3D;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: 5vh; /* Ajuste conforme necessário para garantir que a `conteudo` comece abaixo da capa */
    background-color: #fff;
    position: relative;
    min-height: calc(100vh - 40px);
    overflow: auto;
}


.texto-operações {
    display: flex;
    align-items: flex-start;
    width: 70vw;
    padding-top: 50px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 90px;
    margin: 0 auto;
    margin-bottom: 50px; /* Adiciona espaço abaixo do texto para os cards */

}


.texto-operações h2, .texto-operações p {
    width: 50%; 
    display: inline-block; 
}



.texto-operações h2 {
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
    text-align: left; 
}

.texto-operações p {
    font-family: 'Heebo';
    font-size: 16px;
    color: #363636;
    text-align: left; 
}


.cards-container {
    padding-bottom: 60px;
    font-family: 'Heebo';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px; /* Adicione um margin-top para dar espaço extra se necessário */
}


.card {
    background-color: #ffffff; /* Cor de fundo dos cards */
    border: 1px solid #FF6F3D; /* Borda dos cards */
    border-radius: 8px; /* Borda arredondada */
    padding: 20px;
    width: calc(22% - 40px); /* Reduzido o width dos cards */
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos na largura */
    text-align: center; /* Centraliza o texto dentro dos cards */
    position: relative; /* Necessário para o posicionamento absoluto do h2 */
    
}

.card .gif img {
    width: 70px;
}
.cards-container h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 12px;
    color: #666;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .exportações h2 {
        padding-left: 30px;
    }

    .conteudo {
        border-top: 3px solid #FF6F3D;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-top: 0vh; /* Ajuste conforme necessário para garantir que a `conteudo` comece abaixo da capa */
        background-color: #fff;
        position: relative;
        min-height: calc(100vh - 40px);
        overflow: auto;
    }
    .capa {
        width: 100vw;
        height: 5%;
    }
    .capa img {
        padding-top: 100px;
        width: 100%;
    }

    .capa label {
        font-size: 16px;
    }

    .texto-operações {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .texto-operações h2 {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .texto-operações p {
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
    .card {
        width: calc(50% - 40px); /* Ajusta para 2 cards por linha */
    }

    .cards-container {
        width: 90vw;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .capa img {
        height: 100px;
    }

    .capa label {
        padding-left: 30px;
    }

    .card {
        width: calc(100% - 40px); /* Ajusta para 1 card por linha */
    }
}

.exportações h2 {
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
    text-align: left; 
}


.cards-exportações {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

.cards-exportações img {
    align-items: center;
}

.exportações .card img {
    height: 400px;
}

.exportações .card h2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 16px;
}

footer {
    width: 100vw;
    background: #000000;
    color: #fff;
    padding: 40px 0; /* Espaçamento interno */
    font-size: 13px;
    line-height: 20px;
    position: relative; /* Necessário para o alinhamento adequado */
}


.row {
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas quebrem para a linha seguinte se necessário */
    justify-content: space-between; /* Espaça as colunas igualmente */
}

.col {
    flex: 1 1 250px; /* Faz com que as colunas se ajustem responsivamente */
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}


.footer-tagline {
    padding-top: 20px;
    padding-left: 0px;
    font-family: 'Heebo';
    font-size: 15px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #f77a48;
    margin-top: 0;
}

.logo {
    padding: 0;
    width: 220px;
}

.iso {
    width: 150px;
    padding-left: 20px;
}

.col h3 {
    font-family: 'Heebo';
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px; /* Espaço abaixo do título */
    border-bottom: 0.10px solid #fff; /* Linha separadora */
}

.email-id {
    font-family: 'Heebo';
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
}
p {
    font-family: 'Heebo';
    font-weight: 350px;
}


ul {
    font-family: 'Heebo';
    font-weight: 350px;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff7700; /* Cor de destaque no hover */
}