body{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.navbar.transparent {
    background-color: transparent;
    box-shadow: none;
}

.navbar.scrolled {
    backdrop-filter: blur(13px); 
    background-color: #ffffff7b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-links a {
    color: #000000; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 10vw; /* Ajuste o tamanho em relação à largura da tela */
    max-width: 200px; /* Tamanho máximo para telas maiores */
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Work Sans", system-ui;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    background-color: #ff6347;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    border-radius: 2px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: 20vw; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }
}



.location-section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#imagem {
    width: 100%; /* Ajuste conforme necessário */
    height: 100vh; /* Ajuste conforme necessário */
    background-size: cover; /* Faz com que a imagem cubra a área da div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.392);
    z-index: 2;
}

.informacoes {
    padding-left: 100px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    color: white;
    width: 500px;
}

.informacoes h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 66px;
    margin-bottom: 10px;
}

.informacoes p {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.mapa-container {
    width: 50vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#imagem {
    transition: background-image 0.5s ease; /* Ajuste o tempo da transição conforme necessário */
  }

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content;
        max-width: 160px; /* Ajuste o máximo para telas pequenas */
    }

    .location-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .mapa-container {
        z-index: 3;
        width: 90vw; /* Ajusta a largura do mapa para telas menores */
        max-width: 1000px; /* Define uma largura máxima para evitar expansão excessiva */
        height: 50vh; /* Ajusta a altura do mapa para ocupar metade da altura da tela */
        margin: 0 auto; /* Centraliza o mapa horizontalmente */
    }

    .informacoes {
        z-index: 2;
        padding: 20px;
        text-align: center;
        width: 90vw;
        max-width: 1000px; /* Define a largura máxima para o texto */
        color: white;
        position: absolute;
        bottom: 0; /* Posiciona o texto na parte inferior do container */
        height: 50vh; /* Ajusta a altura do texto para ocupar a metade inferior da tela */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .informacoes h1 {
        font-size: 26px;
    }

    .informacoes p {
        font-size: 12px;
    }
}


