@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    height: 100%; /* Garante que o body ocupe toda a altura da tela */
    margin: 0;
}

body{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    z-index: 3;
}


.navbar.scrolled {
    backdrop-filter: blur(13px); 
    background-color: #0000005f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.203);
}

.navbar.scrolled .nav-links a {
    color: #ffffff; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 20vw; /* Ajuste o tamanho em relação à largura da tela */
    max-width: 200px; /* Tamanho máximo para telas maiores */
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-family: "Work Sans", system-ui;
    font-weight: 350;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    background-color: #ff6347;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    border-radius: 2px;
}


.content {
    padding-top: 35px;
    align-items: center;
    min-height: auto;
}

@media (max-width: 768px) {
    #navbar {
        background-color: #fff;
        z-index: 200;
    } 

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }
}

.box {
    position: relative;
    margin-top: 70px;
    width: 930px;
    gap: 110px;
    background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #00000064 0.09px, rgba(0, 0, 0, 0) 1px);
  }

.titulo {
    color: #000;
    font-family: 'Heebo';
    font-size: 26px;
    font-weight: 400;
  }

.titulo2 {
    color: #000;
    font-size: 26px;
    font-weight: 400;
  }

.paragrafo {
    padding-top: 10px;
    color: #424242;
    font-family: 'Heebo';
    font-size: 16px;
    font-weight: 300;
  }

*::before {
    content: none;
  }
  
.bx-text {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    flex: 1; 

  }

.bx-image {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    width: 100%; /* 50% do espaço disponível para a imagem */
    z-index: 2;
  }

.bx-video {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinha os itens ao topo */
    justify-content: space-between; /* Espaçamento igual entre os itens */
    gap: 30px; /* Espaço entre o texto e o vídeo */
    padding-top: 16px;
    width: 100%; /* Ocupar 100% da largura disponível */
}

.bx-video video {
    padding-bottom: 50px;
    padding-top: 50px;
    width: 335px;
    height: auto;
}

.bx-image img {
    width: 400px;
}

/* primeira seção responsiva */
@media (max-width: 768px) {
    .content {
        padding: 0;
        margin-left: 120px;
        margin-right: 120px;
        display: flex;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 70vw;
        gap: 10px;
    }

    .bx-image {
        flex-direction: column;
    }

    .bx-text {
        width: 70vw;
        align-content: center;
        align-items: center;
    }

    p.titulo {
        font-size: 16px;
        width: 70vw;
        font-weight: 500;
    }

    p.titulo2 {
        font-size: 16px;
        width: 70vw;
        font-weight: 500;
    }

    .bx-text p.paragrafo {
        font-size: 10;
        width: 70vw;
        padding-top: 0;
    }

    .bx-image img{
        padding-top: 20px;
        width: 270px;
        align-self: center;
    }

    .bx-video {
        padding-top: 0;
        flex-direction: column;
    }

    .bx-video p {
        width: 70vw;
    }

    .bx-video video {
        padding-top: 0;
        padding-bottom: 100px;
    }
}

.hero-section {
    position: relative;
    width: 100%;
    padding: 60px 20px;
    background: url('imagens/porto.png') no-repeat center center/cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px; /* Ajuste conforme necessário para garantir altura suficiente */
}

.hero-title {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: absolute;
    top: 20px; 
    left: 20px; 
    color: #F37C27;
    font-family: 'Heebo';
    font-size: 32px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 300px); /* 3 colunas de 300px cada */
    grid-template-rows: repeat(2, 300px); /* 2 linhas de 300px cada */
    gap: 0; 
    position: relative;
    z-index: 1;
    margin-top: 80px;
}

.card {
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    cursor: pointer; /* Adiciona a indicação de que o elemento é clicável */
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
}

.card .front {
    font-family: 'Heebo';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .front img {
    padding-bottom: 10px;
    max-width: 100px; /* Ajuste o tamanho do emoji conforme necessário */
    margin-bottom: 10px; /* Espaçamento entre o emoji e o título */
}

.card .front h3 {
    font-family: 'Heebo';
    font-size: 16px;
    font-weight: 700;
    color: #ff7700;
    margin: 0;
}

.card .back {
    font-family: 'Heebo';
    transform: rotateY(180deg);
    background: #ff7700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card .back h3, .card .back p {
    margin: 20px; 
    font-weight: 600;
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao cartão */
}

/* responsividade para dispositivos mobile e tablets */
@media (max-width: 768px) {
    .hero-title {
        font-size: 24px; 
        text-align: center;
        padding-left: 0;
        padding-top: 10px;
        left: 50%;
        transform: translateX(-50%); /* Centraliza o título horizontalmente */
        width: 100%; /* Garante que o título ocupe toda a largura */
    }

    .card-container {
        grid-template-columns: repeat(2, 200px); /* 2 colunas de 200px cada */
        grid-template-rows: repeat(3, 200px); /* 3 linhas de 200px cada */
        justify-content: center; /* Centraliza os cards */
        margin-top: 60px; /* Ajusta o espaçamento do título */
    }

    .card {
        width: 200px; /* Ajusta o tamanho dos cartões para 200px */
        height: 200px;
    }

    .card .front img {
        max-width: 80px; /* Ajusta o tamanho do emoji */
        margin-bottom: 5px; /* Ajusta o espaçamento entre o emoji e o título */
    }

    .card .front h3 {
        padding: 20px;
        font-size: 14px; /* Ajusta o tamanho da fonte do título dos cards */
    }

    .card .back {
        padding: 10px; /* Ajusta o padding para textos mais curtos em telas menores */
        font-size: 14px; /* Ajusta o tamanho da fonte do texto de trás dos cards */
    }
}

@media (max-width: 445px) {
    .card {
        width: 150px; /* Ajusta o tamanho dos cartões para 200px */
        height: 150px;
    }

    .card .front img {
        max-width: 40px; /* Ajusta o tamanho do emoji */
        margin-bottom: 0;
        margin-top: 20px;
        padding-bottom: 0;
    }

    .card .back p {
        font-size: 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 150px); 
        grid-template-rows: repeat(3, 150px); 
        justify-content: center;
    }

}




footer {
    padding-top: 60px;
    width: 100vw;
    background: #000000;
    color: #fff;
    padding: 40px 0; /* Espaçamento interno */
    font-size: 13px;
    line-height: 20px;
    position: relative; /* Necessário para o alinhamento adequado */
}


.footer-tagline {
    padding-top: 20px;
    padding-left: 0px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #f77a48;
    margin-top: 0;
}

.logo {
    padding: 0;
    width: 220px;
}

.iso {
    width: 150px;
    padding-left: 20px;
}

.col h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px; /* Espaço abaixo do título */
    border-bottom: 0.10px solid #fff; /* Linha separadora */
}

.email-id {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
}
p {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
}


ul {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff7700; /* Cor de destaque no hover */
}