@font-face {
    font-family: 'AppleGaramond-Light';
    src: url('fontes/AppleGaramond-Light.ttf') format('truetype'); /* Substitua pelo caminho real do seu arquivo de fonte */
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da tela */
    margin: 0;
}

body{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 315vh;
    margin: 0;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    size: 100vw;
    display: flex;
    position: relative; /* posicionamento relativo à seção */
}

.card {
    align-items: flex-start;
    letter-spacing: 0.30px;
    width: 75%;
    max-width: 80%;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    position: absolute; 
    z-index: 1;
    background: #12111147;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(0, 0, 0, 0.12); /* Garante que o cartão fique na frente da imagem */
}

.card h2 {
    padding-left: 20px;
    text-align: left;
    width: 100vw;
    font-size: 20px;
    color: #fff;
}

.card h3 {
    flex-direction: column;
    font-family:  "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.item p {
    font-family:  "Roboto Mono", monospace;
    font-weight: 200;
    color: #fff;
    font-size: 12px;
}

.item {
    text-align: left;
    display: flex;
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
}

.line {
    flex-grow: 1; /* Faz com que a linha se estenda ao máximo */
    height: 1px; /* Espessura da linha */
    background-color: #ffffff;
    margin-right: 10px; /* Espaçamento entre a linha e o conteúdo */

}

.number {
    align-items: flex-start;
    color: #ff7700;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    
}

.vantagens {
    padding-left: 10px;
}

h2 {
    position: relative;
    font-size: 14px;
    margin: 0;
}

.content {
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
}

.nav-list li a {
    font-family: "Open Sans", sans-serif; 
    font-weight: 500;
    opacity: 0.60;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
}

.nav-list li a:hover {
    opacity: 5;
}


*{
    margin: 0;
    scroll-behavior: smooth;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 30px;
    width: 200px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}


header{
    font-size: 17px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 300;
    transition: .5s;
}

header.rolagem{
    background-color: #FFF;
    padding: 7px 4%;
    width: 91vw;
    position: fixed;
}

header.rolagem a{
    color: rgba(0,0,0);
    font-family: 'AppleGaramond-Light', sans-serif;
}

header ul{
    list-style-type: none;
    margin-right: 30px;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    opacity: 0.60;
    color: #fff;
    text-decoration: none;
}

header ul li a:hover{
    opacity: 5;
}

.content {
    padding-top: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh; /* Altere esta linha */
    flex-direction: column;
  }

.box {
    display: flex;
    width: 930px;
    gap: 110px;
  }

.titulo {
    color: #000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    font-weight: 400;
  }

.titulo2 {
    color: #000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-top: 100px;
  }

  .paragrafo {
    padding-top: 10px;
    color: #424242;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

  *::before {
    content: none;
  }
  
  .bx-text {
    width: 50%; /* 50% do espaço disponível para o texto */
  }

  .bx-image {
    padding-top: 16px;
    width: 50%; /* 50% do espaço disponível para a imagem */
  }

.bx-image img {
    width: 340px;
}

.bx-video {
    padding-left: 40px;
    padding-top: 90px;
    width: 40%;
}

.bx-video video {
    border-radius: 14px;
    box-shadow: -6px 10px 16px 0px rgba(0, 0, 0, 0.30);
    width: 305px;
    height: auto;
}

/* Estilos do Footer */
footer {
    width: 100vw;
    background: #000000;
    color: #fff;
    padding: 40px 0; /* Espaçamento interno */
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    position: relative; /* Necessário para o alinhamento adequado */
}

.row {
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas quebrem para a linha seguinte se necessário */
    justify-content: space-between; /* Espaça as colunas igualmente */
}

.col {
    flex: 1 1 250px; /* Faz com que as colunas se ajustem responsivamente */
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}


.footer-tagline {
    padding-top: 20px;
    padding-left: 0px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #f77a48;
    margin-top: 0;
}

.logo {
    padding: 0;
    width: 220px;
}

.iso {
    width: 150px;
    padding-left: 20px;
}

.col h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px; /* Espaço abaixo do título */
    border-bottom: 0.10px solid #fff; /* Linha separadora */
}

.email-id {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
}
p {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
}


ul {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff7700; /* Cor de destaque no hover */
}
