@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html, body {
    overflow-x: hidden;

    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.tradingview-widget-container {
    margin-top: 89px;
    background-color: #fff;
    border: 1px solid #F37C27;
    z-index: 2;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    z-index: 30;
}


.navbar.scrolled {
    backdrop-filter: blur(13px); 
    background-color: #0000005f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.203);
}

.navbar.scrolled .nav-links a {
    color: #ffffff; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 20vw; /* Ajuste o tamanho em relação à largura da tela */
    max-width: 200px; /* Tamanho máximo para telas maiores */
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-family: "Work Sans", system-ui;
    font-weight: 350;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    background-color: #ff6347;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    border-radius: 2px;
}


.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.banner back-video{
    top: -24px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.overlay {
    top: -129px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 116.15%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0)); 
    z-index: 1; 
}


section .banner{   
    position: relative;
    width: 100vw;
    height: 89vh;
    margin-bottom: 0px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
    justify-items: left;
}

.content-h1-newsletter {
    margin-top: 150px;
    width: 57%;
    height: 40%;
    margin-left: 140px;
}

.content-h1-newsletter p {
    padding-top: 30px;
    font-family: "Heebo";
    font-weight: 500;
    padding-left: 15px;
    color: #fff;
    font-size: 16px;
}

.newsletter-bar {
    padding-left: 15px;
    display: flex;
    max-width: 320px;
    height: 40px;
  }
  
  .email-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #ff7104;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color:  #F37C27; /* Cor mais clara ao passar o mouse */
  }
  

.banner h1{
    color: #fff;
    width: 70%;
    font-family: 'Heebo', sans-serif;
    font-size: 74px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
}


.banner h1.laranja {
    color: #ff7104;
}

/* mobile nav e banner*/
@media (min-width: 300px) and (max-width: 760px) {
    #navbar {
        background-color: #fff;
        z-index: 200;
    } 

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }

    .content-h1-newsletter {
        width: 100%;
        margin-top: 100px;
        margin-left: 75px;
    }
    
    .content-h1-newsletter p {
        padding-top: 0;
        padding-left: 0;
    }

    .banner .content-h1-newsletter h1 {
        margin-left: 0;
        font-weight: 800;
        width: 50vw;
        font-size: 46px;
        line-height: 48px;
    }

    .back-video {
        width: auto;
        height: 90vh;
    }

    .newsletter-bar {
        height: 35px;
        padding-left: 0;
    }


    .submit-button {
        font-size: 10px;
    }
}

/* mobile menor nv e banner */
@media (min-width: 300px) and (max-width: 480px) {
    section .banner {
        height: 100vh;
    }

    .back-video {
        width: auto;
        height: 100vh;
    }

    .content-h1-newsletter {
        width: 100%;
        margin-top: 100px;
        margin-left: 25px;
    }
    
    .content-h1-newsletter p {
        padding-top: 0;
        padding-left: 0;
    }

    .banner .content-h1-newsletter h1 {
        margin-left: 0;
        font-weight: 800;
        width: 50vw;
        font-size: 36px;
        line-height: 38px;
    }
}



conteudo {
    padding: 15px;
    align-items: center;
    justify-content: center;
}

section .map {
    width: 100vw;
}

section .map img {
    width: 600px;
}

section .map-text {
    padding-bottom: 60px;
}

.map-content {
    z-index: 3;
    background: linear-gradient(to bottom, #FFFFFF, #DCD5CD);
    height: 600px;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 150px;
    background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #00000064 0.09px, rgba(0, 0, 0, 0) 1px);
}

.map-content .map {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 50px;
}

.map-content .map img {
    width: 50%;
}

.map-text {
    padding-top: 50px;
    text-align: center;
}

.map-text h2 {
    width: 50%;
    font-family: 'Heebo';
    font-size: 52px;
    font-weight: 700;
    line-height: 1.05;
    margin: 0 auto;
}

.map-text p {
    text-align: center;
    width: 50%;
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 400;
    color: #3b3b3b;
    margin: 0 auto;
    margin-top: 10px;
}


/* mobile mapa*/
@media (max-width: 768px) {
    section .map-text {
        padding-bottom: 0;
    }
    .map-text h2 {
        font-size: 26px;
        width: 80%;
    }

    .map-text p {
        width: 70%;
        font-size: 12px;
    }

    .map-content .map {
        width: 100vw;
    }    

    .map-content .map img {
        z-index: 3;
        width: 100vw;
    }
}

.globo {
    position: relative;
    width: 100%;
    height: 100vh; /* A altura da seção será a altura total da viewport */
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o vídeo vertical e horizontalmente */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Garante que o vídeo fique atrás do conteúdo */
}

.video-globo {
    width: 100%;
    height: auto; /* Manter a proporção original do vídeo */
    object-fit: cover; /* O vídeo será redimensionado para cobrir a área sem distorcer */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Camada escura sobre o vídeo */
    z-index: 2; /* Garante que o overlay fique sobre o vídeo */
}

.cta {
    position: absolute;
    top: 50%;
    left: 50px; /* Espaçamento à esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente em relação ao vídeo */
    z-index: 3; /* Garante que o conteúdo fique sobre o vídeo e o overlay */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.cta h2 {
    color: #fff;
    width: 70%;
    font-family: 'Heebo', sans-serif;
    font-size: 74px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
}

.cta h2.laranja {
    color: #ff7104;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaçamento entre o texto e os botões */
}

.cta button {
    color: #fff; /* Cor do texto do botão */
    border-radius: 15px; /* Arredondar os cantos do botão */
    padding: 12px 24px; /* Espaçamento interno (vertical horizontal) */
    font-family: "Open Sans", sans-serif; /* Fonte do botão */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 700; /* Peso da fonte */
    cursor: pointer; /* Muda o cursor para uma mão ao passar sobre o botão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação para transições suaves */
    text-align: center; /* Centraliza o texto dentro do botão */
    display: inline-block; /* Ajusta o botão para se comportar como um bloco em linha */
}

.cta button.bt-1 {
    background-color: #ff7104; /* Cor de fundo */
    border: 2px solid #ff7104;
}

.cta button.bt-1:hover {
    background-color: #ff4d00; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão no hover */
}

.cta button.bt-2 {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.cta button.bt-2:hover {
    background-color: #ccc;
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão no hover */
}

 

/* mobile seção globo */
@media (min-width: 480px) and (max-width: 780px) {
    .globo {
        height: 100%;
    }

    .video-background {
        height: 100%;
    }

    .video-globo {
        height: 100%;
    }
    .cta {
        left: 20px; /* Reduz o espaçamento à esquerda em dispositivos móveis */
        padding: 0 10px; /* Adiciona algum preenchimento para dispositivos móveis */
    }

    .cta h2 {
        font-size: 36px; /* Reduz o tamanho da fonte em dispositivos móveis */
        width: auto; /* Ajusta a largura do texto para melhor visualização */
        line-height: 35px;
    }
}

/* mobile menor seção globo */
@media (min-width: 300px) and (max-width: 480px) {
    .globo {
        height: 100%;
    }

    .video-background {
        height: 100%;
    }

    .video-globo {
        height: 100%;
    }
    .cta {
        left: 20px; /* Reduz o espaçamento à esquerda em dispositivos móveis */
        padding: 0 10px; /* Adiciona algum preenchimento para dispositivos móveis */
    }

    .cta h2 {
        font-size: 32px; /* Reduz o tamanho da fonte em dispositivos móveis */
        width: auto; /* Ajusta a largura do texto para melhor visualização */
        line-height: 35px;
    }

    .cta button {
        font-size: 10px;
        font-weight: 500;
        border: 0.5px solid;
    }

    .cta button.bt-2 {
        border: 0.5px solid;
    }

    .cta button.bt-1 {
        border: 0.5px solid #ff7104;
    }

    .buttons {
        width: 100%;
    }

}

.mercado-local {
    position: relative;
    width: 100vw; /* Reduz a largura */
    height: 85vh; /* Reduz a altura */
    margin: 0 auto; /* Centraliza o contêiner */
    padding-bottom: 60px;

}
  
  .background-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .background-image img#main-background {
    position: absolute;
    width: 100vw; /* Reduz a largura */
    height: 100vh; /* Reduz a altura */
    object-fit: cover;
    z-index: -1;
}

  
.overlay-aviao {
    position: absolute;
    width: 100vw; /* Reduz a largura */
    height: 100vh; /* Reduz a altura */
    background: url('imagens/overlayaviao.png') no-repeat center center;
    background-size: cover; 
    opacity: 0.5; /* Corrigido para 0.5 para opacidade */
    z-index: 1;
}

  
  
  .title-container {
    text-align: center; 
    margin-top: -350px;
    font-family: 'Heebo', sans-serif;
    font-size: 82px;
    font-weight: 700;
    z-index: 1;
  }
  
  .title {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .title .highlight {
    color: #ff7104;
  }
  
  .subtitle {
    margin: 0 auto; /* Centraliza o elemento */
    width: 650px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: white;
  }
  
  .subtitle .highlight {
    color: #ff7104;
  }
  
  .image-selector {
    height: 200px;
    z-index: 3;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
  }
  
  .selector-image {
    width: auto;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-right: 3px solid #ff7104;
    transition: all 0.5s ease;
  }
  
  .selector-image:hover {
    transform: scale(1.1);
  }
  
  .selector-image.selected {
    border: 4px solid #ff7104;
    transition: all 0.8s ease;
  }



  @media (max-width: 768px) {
    .title {
      font-size: 3rem;
    }
  
    .subtitle {
      font-size: 1.2rem;
    }
  
    /* Caso específico para o span */
    .title .highlight, .subtitle .highlight {
      font-size: inherit; /* Garante que herda o tamanho de fonte atual */
    }

    .subtitle {
        width: 300px;
        font-size: 16px;
        font-weight: 400;
    }

    .image-selector {
        height: 150px;

    }

    .image-selector img {
        height: 70px;
        width: auto;
    }
  }

  @media (min-width: 300px) and (max-width: 480px) {
    .image-selector {
        padding-left: 5px;
        padding-bottom: 20px;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 12px;
    }
  }
  

footer {
    width: 100vw;
    background: #000000;
    color: #fff;
    padding: 40px 0; /* Espaçamento interno */
    font-size: 13px;
    line-height: 20px;
    position: relative; /* Necessário para o alinhamento adequado */
}


.row {
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas quebrem para a linha seguinte se necessário */
    justify-content: space-between; /* Espaça as colunas igualmente */
}

.col {
    flex: 1 1 250px; /* Faz com que as colunas se ajustem responsivamente */
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}


.footer-tagline {
    padding-top: 20px;
    padding-left: 0px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #f77a48;
    margin-top: 0;
}

.logo {
    padding: 0;
    width: 220px;
}

.iso {
    width: 150px;
    padding-left: 20px;
}

.col h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px; /* Espaço abaixo do título */
    border-bottom: 0.10px solid #fff; /* Linha separadora */
}

.email-id {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
}
p {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
}


ul {
    font-family: "Open Sans", sans-serif; /* Aplica a fonte Open Sans */
    font-weight: 350px;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff7700; /* Cor de destaque no hover */
}