@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fontes/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}


body{
    visibility: hidden;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


body {
    top: 0px !important;
}

.hidden {
    visibility: hidden;
}

.tradingview-widget-container {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #F37C27;
    z-index: 2;
}

.skiptranslate,
.goog-te-banner-frame {
    display: none !important;
}


#google_translate_element {
    display: none;
}

.translate-icon {
    position: absolute; 
    top: 10px; /* Ajuste a posição conforme necessário */
    right: 10px;
    z-index: 9999; 
    margin-right: 200px;
}

.language-dropdown {
    padding-right: 30px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.language-selected {
    width: 32px;
    cursor: pointer;
    border: 0px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Transição para animação de rotação */
}

/* Estilo para as bandeirinhas no dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    right: 70px; 
    top: -5px;
    min-width: 50px;
    z-index: 1;
    opacity: 0; /* Inicialmente invisível */
    transform: scaleY(0); /* Inicialmente colapsado */
    transform-origin: top; /* Animação ocorre a partir do topo */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transições para animação */
}

/* Estilo para as bandeiras dentro do dropdown */
.dropdown-content img {
    width: 32px;
    cursor: pointer;
    border: 0px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

/* Estilo para a bandeira principal quando o dropdown está ativo */
.language-dropdown:hover .language-selected {
    transform: rotate(180deg); /* Rotaciona a bandeira para indicar que o dropdown está aberto */
}

/* Mostrar o dropdown quando o usuário passa o mouse */
.language-dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: scaleY(1); /* Expande o dropdown */
}

/* Mostrar o dropdown quando o usuário clica (ajuste se necessário) */
.language-dropdown .dropdown-content {
    display: block; /* Mantém o dropdown visível após o clique */
}

/* Estilo para o estado ativo do dropdown após seleção */
.language-dropdown.active .dropdown-content {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    z-index: 30;
}

.navbar-logo,
.navbar-language,
.navbar-nav {
    flex: 1; /* Cada container ocupa 1/3 da largura disponível */
}


.navbar.scrolled {
    backdrop-filter: blur(13px); 
    background-color: #0000005f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.203);
}

.navbar.scrolled .nav-links a {
    color: #ffffff; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 18vw; 
    max-width: 160px; 
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    white-space: nowrap;
    width: auto;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
    position: relative; /* Necessário para o posicionamento correto do ::after */
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-family: "Work Sans", system-ui;
    font-weight: 350;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
    position: relative; /* Isso é importante para que o ::after seja relativo ao link */
}

.nav-links a:hover {
    color: #ff7104;
}

.nav-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ff7104; 
    transition: width 0.3s ease-in-out;
}

.nav-links a.active {
    color: #ff7104; 
}

.nav-links a:hover::after {
    width: 100%; 
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    border-radius: 2px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1010;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.3s;
}

/* Estilos para o menu mobile */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; /* Espaço para o X */
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu .close {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    text-align: right;
    width: 100%;
}

.mobile-menu .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu .nav-links li {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.mobile-menu .nav-links a {
    text-decoration: none;
    color: #333;
    font-family: "Work Sans", system-ui;
    font-weight: 350;
    font-size: 1.2rem;
}

.media-container .mobile-image {
    display: none;
} 

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Garante que o vídeo cubra a área sem distorção */
    z-index: -1;
}

.banner .back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover; /* Garante que o vídeo cubra toda a área sem distorção */
    display: block; /* Certifica que o vídeo apareça em telas maiores */
}



/* Para dispositivos grandes */
@media (min-width: 780px){
    .hamburger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .banner .mobile-image {
        display: none;
        opacity: 0;
    }

    .banner .back-video {
        display: block; 
    }

    .banner h1 {
        font-size: 60px;
    }
}

.overlay {
    top: -129px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 116.15%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0)); 
    z-index: 1; 
}


section .banner{  
    margin-top: 0; 
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
    justify-items: left;
    margin-top: 50px;
}

.content-h1-newsletter {
    margin-top: 150px;
    width: 57%;
    height: 40%;
    margin-left: 140px;
}

.content-h1-newsletter p {
    padding-top: 30px;
    font-family: "Heebo";
    font-weight: 500;
    padding-left: 15px;
    color: #fff;
    font-size: 16px;
}

.newsletter-bar {
    padding-left: 15px;
    display: flex;
    max-width: 320px;
    height: 40px;
  }
  
  .email-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #ff7104;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color:  #F37C27; /* Cor mais clara ao passar o mouse */
  }
  

.banner h1{
    color: #fff;
    width: 70%;
    font-family: 'Heebo', sans-serif;
    font-size: 74px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
}


.banner h1.laranja {
    color: #ff7104;
}

.banner .mobile-image {
    display: block;
    position: absolute; /* Altera a posição para 'absolute' */
    width: 100%; /* Faz a imagem cobrir toda a largura */
    height: 100vh; /* Faz a imagem cobrir toda a altura da tela */
    top: 0;
    left: 0; /* Alinha a imagem à esquerda */
    z-index: -1; /* Coloca a imagem atrás de outros elementos */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorção */
}

/* mobile MAIORES nav e banner*/
@media (max-width: 779px) {
    .banner .mobile-image {
        display: block;
        height: 72vh;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    #navbar {
        background-color: #fff;
        z-index: 200;
    } 

    .nav-links {
        padding-bottom: 30px;
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }

    .content-h1-newsletter {
        width: 100%;
        margin-top: 100px;
        margin-left: 75px;
    }
    
    .content-h1-newsletter p {
        padding-top: 0;
        padding-left: 0;
    }

    .banner .content-h1-newsletter h1 {
        margin-left: 0;
        font-weight: 800;
        width: 70vw;
        font-size: 38px;
        line-height: 40px;
    }

    .back-video {
        display: none;
        opacity: 0;
    }

     .newsletter-bar {
        height: 35px;
        width: 180px;
        padding-left: 0;
    }
    
    .submit-button {
        font-size: 10px;
    }   

    section .banner {
        height: 80vh;
    }

    .tradingview-widget-container {
        translate: 0 -70px;
    }
}


@media (min-width: 780px) and (max-width: 1200px){
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active a {
        color: #000; /* Muda a cor dos links para preto quando o menu está aberto */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: max-content; /* Aumenta a responsividade para telas menores */
        max-width: 150px; /* Ajuste o máximo para telas pequenas */
    }
}

/* mobile menor nv e banner */
@media (min-width: 300px) and (max-width: 480px) {
    .back-video {
        display: none;
        opacity: 0;
    }

    section .banner {
        height: 72vh;
    }

    .banner .mobile-image {
        display: block;
        height: 72vh;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .back-video {
        display: none;
        width: auto;
        height: 100vh;
    }

    .content-h1-newsletter {
        width: 100%;
        margin-top: 100px;
        margin-left: 25px;
    }

    .content-h1-newsletter p {
        padding-top: 20px;
        padding-left: 0;
        font-size: 10px;
    }

    .banner .content-h1-newsletter h1 {
        margin-left: 0;
        font-weight: 800;
        width: 80vw;
        font-size: 30px;
        line-height: 32px;
    }

    .newsletter-bar {
        padding-left: 0;
    }
}


conteudo {
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.map-content {
    z-index: 3;
    height: 80vh;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 150px;

}

.map-text {
    background-image: url('imagens/mapa (3).png');
    height: 80vh;
    padding-top: 50px;
    text-align: center;
}



.map-text .title { 
    text-align: center; 
    font-family: 'Heebo', sans-serif;
    font-size: 74px;
    font-weight: 800;
    z-index: 1;
    color: #000; 
    width: 100%;
    font-family: 'Heebo';
    margin: 0 auto;
    line-height: 1;
}

.map-text .highlight {
    color: #F37C27;
}

.map-text p {
    text-align: center;
    width: 65%;
    font-family: 'Heebo';
    font-size: 16px;
    font-weight: 400;
    color: #3b3b3b;
    margin: 0 auto;
    margin-top: 10px;
}

.cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    padding: 20px;
    padding-top: 100px;
  }
  
  .card {
    font-family: 'Heebo';
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    color: white;
    transition: transform 0.3s ease;
  }
  
  .card-middle {
    background-color: #F37C27;
    width: 180px;
    height: 240px;
    transform: scale(1.1); /* Como se estivesse mais para frente */
  }
  
  .card-left, .card-right {
    background-color: black;
  }
  
  .card h1 {
    font-size: 32px;
    margin: 0;
  }
  
  .card p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  
@media (min-width: 300px) and (max-width: 780px) {
    .map-text {
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        padding-bottom: 20px;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }


    .map-text p {
        padding-top: 1  0px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        box-sizing: border-box;
    }

    .map-content .map {
        width: 100vw;
    }    

    .map-content .map img {
        z-index: 3;
        width: 100vw;
    }

    .map-content {
        height: auto;
        padding-bottom: 0;
    }

    .cards-section {
        padding-top: 30px;
        flex-direction: column;
        margin: auto;
        box-sizing: border-box;
        width: 100VW;
    }

    .cards-section .card {
        width: 180px;
    }

    .crad h1 {
        font-size: 28px;
    }


}

.globo {
    position: relative;
    width: 100%;
    height: 100vh; /* A altura da seção será a altura total da viewport */
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-size: cover; /* Faz a imagem cobrir o contêiner sem distorcer */
    background-position: right; /* Alinha a imagem à direita do contêiner */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-color: #12001B;
}

.video-globo {
    width: 100%;
    height: auto; /* Manter a proporção original do vídeo */
    object-fit: cover; /* O vídeo será redimensionado para cobrir a área sem distorcer */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Camada escura sobre o vídeo */
    z-index: 2; /* Garante que o overlay fique sobre o vídeo */
}

.cta {
    position: absolute;
    top: 50%;
    left: 50px; /* Espaçamento à esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente em relação ao vídeo */
    z-index: 30; /* Garante que o conteúdo fique sobre o vídeo e o overlay */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.cta h2 {
    color: #fff;
    width: 70%;
    font-family: 'Heebo', sans-serif;
    font-size: 74px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
}

.cta h2.laranja {
    color: #ff7104;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaçamento entre o texto e os botões */
}

.cta button {
    color: #fff; /* Cor do texto do botão */
    border-radius: 15px; /* Arredondar os cantos do botão */
    padding: 12px 24px; /* Espaçamento interno (vertical horizontal) */
    font-family: "Open Sans", sans-serif; /* Fonte do botão */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 700; /* Peso da fonte */
    cursor: pointer; /* Muda o cursor para uma mão ao passar sobre o botão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animação para transições suaves */
    text-align: center; /* Centraliza o texto dentro do botão */
    display: inline-block; /* Ajusta o botão para se comportar como um bloco em linha */
}

.cta button.bt-1 {
    background-color: #ff7104; /* Cor de fundo */
    border: 2px solid #ff7104;
}

.cta button.bt-1:hover {
    background-color: #ff4d00; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão no hover */
}

.cta button.bt-2 {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.cta button.bt-2:hover {
    background-color: #ccc;
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão no hover */
}

.imagem-globo {
    display: none; 
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    object-fit: cover; 
    z-index: 15;
}

.imagem-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha a imagem ao final do contêiner */
    z-index: 1;
}

@media (min-width: 780px) {
    .globo .video-globo {
        display: block;
        z-index: 100;
        width: 100vw;
        height: auto;
    }

    .imagem-globo {
        display: none;
        visibility: hidden;
    }
    .cta {
        width: 70%;
        margin-left: 75px;
        margin-right: 20px;
        padding: 0 10px;
    }
}    


/* mobile MAIOR seção globo */
@media (min-width: 480px) and (max-width: 780px) {
    
    .globo {
        background-color: #12001B;
        height: 500px;
    }

    .video-background {
        height: auto;
        width: 100vw;
    }

    .video-globo {
        display: none;
    }

    .imagem-globo {
        display: block; 
        width: 100%;
        height: auto;
    }

    .cta {
        width: 70%;
        margin-left: 75px;
        margin-right: 30px;
        padding-right: 30px;
        padding: 0 10px;
    }

    .cta h2 {
        font-size: 36px;
        width: auto;
        line-height: 35px;
    }
}

/* mobile MENOR seção globo */
@media (min-width: 280px) and (max-width: 480px) {
    
    .map-text .title {
        font-size: 26px;
        width: 80%;
    }

    .globo {
        background-color: #12001B;
        height: 500px;
    }

    .video-globo {
        display: none;
    }

    .imagem-globo {
        display: block; 
        width: 100%;
        height: auto;
    }

    .cta {
        margin-left: 35px;
    }

    .cta h2 {
        margin-right: 20px;
        font-size: 30px;
        line-height: 35px;
    }

    .cta button {
        width: 100px;
        font-size: 10px;
        font-weight: 500;
        border: 0.5px solid;
    }

    .cta button.bt-2 {
        border: 0.5px solid;
    }

    .cta button.bt-1 {
        border: 0.5px solid #ff7104;
    }

    .buttons {
        width: 100%;
    }
}

.mercado-local {
    overflow: hidden;
    position: relative;
    width: 100vw; /* Reduz a largura */
    height: 85vh; /* Reduz a altura */
    margin: 0 auto; /* Centraliza o contêiner */
    padding-bottom: 60px;

}
  
  .background-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .background-image img#main-background {
    position: absolute;
    width: 100vw; /* Reduz a largura */
    height: 100vh; /* Reduz a altura */
    object-fit: cover;
    z-index: -1;
}

  
.overlay-aviao {
    position: absolute;
    width: 100vw; /* Reduz a largura */
    height: 100vh; /* Reduz a altura */
    background: url('imagens/overlayaviao.png') no-repeat center center;
    background-size: cover; 
    opacity: 0.5; /* Corrigido para 0.5 para opacidade */
    z-index: 1;
}

  
  
  .title-container {
    text-align: center; 
    margin-top: -350px;
    font-family: 'Heebo', sans-serif;
    font-size: 74px;
    font-weight: 700;
    z-index: 1;
  }
  
  .title {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .title-container .title .highlight {
    color: #ff7104;
  }
  
  .subtitle {
    margin: 0 auto; /* Centraliza o elemento */
    width: 650px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: white;
  }
  
  .subtitle .highlight {
    color: #ff7104;
  }
  
  .image-selector {
    overflow-x: scroll;
    z-index: 3;
    position: absolute;
    bottom: 80px;
    right: 20px;
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
  }

  .image-selector::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

  
  .selector-image {
    width: auto;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border-right: 3px solid #ff7104;
    transition: all 0.5s ease;
  }
  
  .selector-image:hover {
    transform: scale(1.1);
  }
  
  .selector-image.selected {
    border: 4px solid #ff7104;
    transition: all 0.8s ease;
  }



  @media (max-width: 768px) {
    .title {
      font-size: 32px;
    }
  
    .subtitle {
      font-size: 12px;
      font-weight: 400;
    }
  
    /* Caso específico para o span */
    .title .highlight, .subtitle .highlight {
      font-size: inherit; /* Garante que herda o tamanho de fonte atual */
    }

    .subtitle {
        width: 300px;
        font-size: 16px;
        font-weight: 400;
    }

    .image-selector {
        overflow-x: scroll;
        width: 300px;
        right: 0;
        display: flex;
        flex-wrap: nowrap; 
        scroll-snap-type: x mandatory;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 20px;
    }


    .image-selector img {
        height: 70px;
        width: auto;
        scroll-snap-align: start; 
    }
  }

  @media (min-width: 300px) and (max-width: 480px) {
    .map-text .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 12px;
    }

    .mercado-local {
        padding-bottom: 0;
    }

    .image-selector {
        overflow-x: scroll;
        width: 300px;
        right: 0;
        display: flex;
        flex-wrap: nowrap; 
        scroll-snap-type: x mandatory;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 20px;
    }
  }
  

.custom-footer {
    background-color: #000;
    background-size: cover;
    background-position: center;
    font-family: 'Heebo';
    padding: 60px 60px 20px 60px; /* Reduza o padding superior e inferior para diminuir a altura */
    color: #ffffff;
    color: white;
}

.line {
    border-top: 0.5px solid white;
    margin-bottom: 0px;
}

.footer-content {
    max-width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.footer-columns {
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
}

.footer-column {
    width: 22%; /* Quatro colunas com espaço entre elas */
    text-align: left; 
}

.footer-column-img img {
    display: block;
    margin: 0 auto 10px auto; /* Centralizar as imagens na coluna */
}

.footer-column-img .logo {
    width: 190px;
}


.footer-column ul {
    font-weight: 500;
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-columns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
}

.footer-column {
    font-size: 18px;
    width: 22%; /* Quatro colunas com espaço entre elas */
    text-align: left; 
    margin-top: 0px; /* Adiciona espaço na parte superior */
}


.footer-column-p p {
    font-size: 18px;
    text-align: left;
    font-weight: 200;
    line-height: 0.2; /* Ajusta o espaçamento entre linhas para maior legibilidade */
}


.social-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os ícones e as linhas */
    padding-left: 20px; /* Mesmo padding da linha de cima */
    padding-right: 20px; /* Mesmo padding da linha de cima */
}

.social-lines hr {
    flex-grow: 1; /* Faz com que as linhas cresçam para preencher o espaço disponível */
    border: 0;
    border-top: 1px solid white;
    margin: 0; /* Remove margin extra para garantir alinhamento */
}

.social-icons {
    display: flex;
    gap: 0px; /* Espaçamento entre os ícones */
}

.social-icons a img {
    width: 34px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}


.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.5s ease, filter 0.5s ease; /* Suaviza a transição */
}

.social-icons a img:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone */
    filter: brightness(1.5); /* Aumenta o brilho para destacar */
}

.footer-tagline {
    font-family: 'Cormorant Unicase';
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
}

.footer-copyright {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 12px;
}

@media (max-width: 780px) {
    .custom-footer {
        background-color: #000;
        background-size: cover;
        background-position: center;
    }
    .footer-columns {
        align-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .footer-column {
        gap: 0;
        text-align: center;
        width: 100%;
        line-height: 0.5;
        align-items: center;
    }

    .footer-column-img {
        width: 100vw;
        flex-direction: row;
        align-self: center;
    }

    .footer-column-img .logo {
        width: 200px;
    }

    .footer-column ul li {
        font-size: 14px;
        line-height: 0.5;
    }

    .footer-column-p {
        width: 100%;
    }

    .footer-column-p p {
        text-align: center;
        font-size: 12px;
        font-weight: 200;
        line-height: 0.5;
    }

    .social-icons a {
        padding-top: 20px;
    }


    .footer-tagline {
        font-size: 12px;
        width: 100vw;
        text-align: center;
        align-self: center;
    }
}
