body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.navbar.transparent {
    background-color: transparent;
    box-shadow: none;
}

.navbar.scrolled {
    background-color: #ffffffb7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-links a {
    color: #000000; /* Cor dos links quando o fundo é branco */
}

.logo img {
    width: 10vw; /* Ajuste o tamanho em relação à largura da tela */
    max-width: 200px; /* Tamanho máximo para telas maiores */
    min-width: 50px; /* Tamanho mínimo para telas menores */
    height: auto; /* Mantém a proporção da imagem */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    background-color: #ff6347;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 2px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 10px 10px;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo img {
        width: 20vw; /* Aumenta a responsividade para telas menores */
        max-width: 100px; /* Ajuste o máximo para telas pequenas */
    }
}


.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Layout para dispositivos móveis */
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


/* Layout para tablets e dispositivos maiores */
@media (min-width: 601px) and (max-width: 1200px) {
    
}  

/* Layout para desktops grandes */
@media (min-width: 1201px) {

}

.banner .back-video{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.079)); 
    z-index: 1; 
}

section .banner{   
    width: 100vw;
    height: 90vh;
    margin-bottom: 0px;
}

.banner-content {
    width: 100%;
    position: relative;
    top: 150px; /* Ajusta a posição do topo */
    left: 0; /* Alinha à esquerda */
    text-align: left; /* Alinha o texto à esquerda */
    z-index: 2;
}

.content-h1-newsletter {
    width: 2em;
    padding-left: 70px;
}

.banner h1{
    position: relative;
    color: rgba(255, 255, 255, 0.889);
    font-family: "Work Sans", system-ui;
    font-weight: 600;
    font-style: normal;;
    font-size: 65px;
    line-height: 1;
}

/*linhas do texto */
.banner h1 {
    position: relative;
    padding-left: 25px; /* Ajuste conforme necessário para a largura da linha de margem */
    /* ... Outras propriedades ... */
}

/*linhas do texto */
.banner h1::before {
    content: ""; /* Adiciona conteúdo à pseudo-elemento ::before */
    position: absolute;
    left: 0;
    width: 3px; /* Ajuste a largura da linha vertical */
    height: 88%; /* Faz com que a linha tenha a altura total do elemento pai */
    background-color: #FFF; /* Cor da linha de margem */
    transform: translateY(4%); /* Centraliza a linha verticalmente */

}

.circles-container {
    width: 80%;
    margin: 210px auto 0; /* Ajusta a margem superior para posicionar mais para baixo */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */

}

.circle-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.circle {
    width: 80px;
    height: 75px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164); /* Ajuste a sombra e o blur aqui */
    border: 2px solid #fff; 
}

.circle .material-symbols-outlined {
    color: #ff6d3c;
    font-size: 25px;
}

.circle-text {
    width: 95%;
    font-family: "Work Sans", system-ui;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.emoji {
    position: static;
    color: #ff6d3c;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto; /* Adiciona margem automática para centralizar o contêiner, se necessário */
}


.emoji .material-symbols-outlined {
    align-items: center;
}

